:root
{
    --colour-page: rgb(50, 50, 65);
    --colour-element-container: rgb(20, 20, 30);
    --colour-element: #cecece;
    --colour-compared: #cf7622;
    --colour-swapped: #cc241f;
    --colour-sorted: #36bd1b;
    --colour-sortindex: #0f5099;
    --colour-merged: #5226a3;
}

html
{ 
    height: 100%;
}

*
{
    margin: 0;
    padding: 0;

    /* Include padding to elements' dimensions */
    box-sizing: border-box;
}

a
{
    color: inherit;
}

body
{
    /* background-color: darkgrey; */
    background-color: var(--colour-page);
    min-height: 100%;
    position: relative;
}

#primaryControls
{
    margin-top: 4vh;
}

#elements
{
    width: 80%;
    height: 50vh;
}

.uiContainer
{
    width: fit-content;
    height: fit-content;
}

.outerContainer
{
    /* Add space between edge of the container and its elements. */
    padding: 25px;

    /* Centre horizontally. */
    margin: auto;

    /* Add space between the bottom of this container and the top of the next container. */
    margin-bottom: 4vh;

    /* Curve the corners. */
    border-radius: 15px;

    background-color: var(--colour-element-container);
}

.element
{
    background-color: var(--colour-element);

    position: absolute;
    bottom: 0;
}

.elementWrapper
{
    position: relative;
    float: left;

    height: 100%;
}

.uiTextElement
{
    color: var(--colour-element);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19pt;
    font-weight: bold;

    text-align: center;
}

.uiTextContainer
{
    height: fit-content;

    background-color: var(--colour-page);

    border: 1px solid var(--colour-page);
    border-radius: 5pt;

    padding: 10px;

    margin-right: 20px;
}

.interactable:hover
{
    border-color: var(--colour-element);
}

.interactable:active
{
    border-color: var(--colour-page);

    background-color: var(--colour-element-container);
}

label.uiTextElement
{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#cmbSorters
{
    font-size: 17pt;

    /* padding: 0 5pt 0 20pt; */

    text-align: center;

    /* margin-right: 0px; */
}

#rngElements
{
    width: 400px;
}

div.uiTextContainer
{
    width: 250pt;
}

div.uiTextContainer > p
{
    float: left;
}

div.uiTextContainer > span
{
    font-weight: bold;
}

div.stat
{
    display: inline-block;
}

.controls label:last-child
{
    margin-right: 0;
}

#stats div:last-child
{
    margin-right: 0;
}

#footer 
{
    position: absolute;
    bottom: 0;

    padding: 30px;

    height: 100px;
    width: 100%;

    background-color: var(--colour-element-container);
    color: var(--colour-element);

    text-align: center;
}

#footerSpacer
{
    height: 100px;
    margin-top: 8vh;
}

.footerText
{
    font-size: 13pt;
}