:root
{
    --colour-page: rgb(50, 50, 65);
    --colour-element-container: rgb(20, 20, 30);
    --colour-element: rgb(175, 175, 175);
}

html
{ 
    height: 100%; 
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    /* background-color: darkgrey; */
    background-color: var(--colour-page);
    min-height: 100%;
    position: relative;
}

#elements
{
    width: 80%;
    height: 50%;

    position: absolute;
    left: 50%;
    margin-left: calc(-40% - 25px);
    top: 50%;
    margin-top: calc(-25vh - 25px);
    padding: 25px;

    background-color: var(--colour-element-container);
    border-radius: 15px;
}

/*
* Problem: the position of the elements is determined by the height of the heighest element (same as the Java one).
           This means that if the highest element is removed, all elements shift upward. For some sorting algorithms 
           this behaviour will cause significant graphical disturbance.
*/
.element
{
    background-color: var(--colour-element);

    position: absolute;
    bottom: 0;

    /* border-radius: 3px; */
}

.elementWrapper
{
    position: relative;
    float: left;

    height: 100%;
}

#btnSort
{
    width: 75pt;
}

#btnStep
{
    width: 75pt;
}

#btnShuffle
{
    width: 100pt;
}

.uiTextElement
{
    color: var(--colour-element);
    font-size: 20pt;
}

.uiTextContainer
{
    height: 40pt;

    background-color: var(--colour-element-container);

    border-style: none;
    border-radius: 5pt;

    margin: 20px;
}

label.uiTextElement
{
    display: inline-block;
    vertical-align: top;

    padding: 0 20pt 0 20pt;
}