:root
{
    --colour-page: rgb(50, 50, 65);
    --colour-element-container: rgb(20, 20, 30);
    --colour-element: #cecece;
    --colour-compared: #cf7622;
    --colour-swapped: #cc241f;
    --colour-sorted: #36bd1b;
    --colour-sortindex: #0f5099;
    --colour-merged: #5226a3;
}

html
{ 
    height: 100%; 
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    /* background-color: darkgrey; */
    background-color: var(--colour-page);
    min-height: 100%;
    position: relative;
}

#elements
{
    width: 80%;
    height: 50vh;

    /* Centre horizontally. */
    margin: auto;
    
    margin-bottom: 4vh;

    /* Add space between edge of the container and its elements. */
    padding: 25px;

    background-color: var(--colour-element-container);

    /* Curve the corners. */
    border-radius: 15px;
}

#primaryControls
{
    width: fit-content;
    height: fit-content;

    /* Centre horizontally. */
    margin: auto;

    margin-top: 4vh;
    margin-bottom: 4vh;

    /* Add space between edge of the container and its elements. */
    padding: 20px;

    background-color: var(--colour-element-container);

    /* Curve the corners. */
    border-radius: 15px;
}

#secondaryControls
{
    width: fit-content;
    height: fit-content;

    /* Centre horizontally. */
    margin: auto;

    margin-bottom: 4vh;

    /* Add space between edge of the container and its elements. */
    padding: 20px;

    background-color: var(--colour-element-container);

    /* Curve the corners. */
    border-radius: 15px;
}

#stats
{
    width: fit-content;
    height: fit-content;

    /* Centre horizontally. */
    margin: auto;

    margin-bottom: 4vh;

    /* Add space between edge of the container and its elements. */
    padding: 20px;

    background-color: var(--colour-element-container);

    /* Curve the corners. */
    border-radius: 15px;
}

.element
{
    background-color: var(--colour-element);

    position: absolute;
    bottom: 0;
}

.elementWrapper
{
    position: relative;
    float: left;

    height: 100%;
}

.uiTextElement
{
    color: var(--colour-element);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19pt;
    font-weight:bold;

    text-align: center;
}

.uiTextContainer
{
    height: fit-content;

    background-color: var(--colour-page);

    border-style: none;
    border-radius: 5pt;

    padding: 10px;

    margin-right: 20px;
}

label.uiTextElement
{
    display: inline-block;
    vertical-align: top;
    text-align: center;

    /* padding: 0 20pt 0 20pt; */
}

#cmbSorters
{
    font-size: 17pt;

    /* padding: 0 5pt 0 20pt; */

    text-align: center;

    margin-right: 0px;
}

#rngElements
{
    width: 400px;
}

div.uiTextContainer
{
    width: 250pt;
}

div.uiTextContainer > p
{
    float: left;
}

div.uiTextContainer > span
{
    font-weight: bold;
}

div.stat
{
    display: inline-block;
}

#secondaryControls label:last-child
{
    margin-right: 0;
}

#stats div:last-child
{
    margin-right: 0;
}

#footer 
{
    /* position: absolute;
    left: 0;
    bottom: 0; */
    width: 100%;
    padding: 20px;
    background-color: var(--colour-element-container);
    color: var(--colour-element);
    text-align: center;
}